.caja {
    height: 1000px;
    background-color: rgb(25, 248, 25);
    width: 320%;
    margin: 100px;

}

.caja2 {
    height: 1000px;
    background-color:rgb(236, 236, 13);
    width: 320%;
    margin: 100px;
    
}

.caja3 {
    height: 1000px;
    background-color: rgb(190, 8, 8);
    width: 320%;
    margin: 100px;
  

}

.cajaprincipal {
    display: flex;
    height: 400px;
    
}

.img {
    width: 150px;
    height:250px;
}
